#{extends 'main.html' /} #{set title:'Progress' /}
<div style='text-align: center; font-size: 20px;'>
	<h1>Progress Report</h1>
	<table align="center" border="1" width='500'>
		<tr>
			<td><b>Place</b></td>
			<td><b>Crawled</b></td>
			<td><b>Total</b></td>
		</tr>
		<tr>
			<td>CBSA METROS</td>
			<td>${msa_progress}</td>
			<td>${total_msa}</td>
		</tr>
		<tr>
			<td>COUNTY</td>
			<td>${county_progress}</td>
			<td>${total_county}</td>
		</tr>
	</table>

	<h1>Details of Crawled Data</h1>
	<select id='selected_zone' name='id'
		style='width: 400px; font-size: 20px;'> #{list items:results,
		as:'result'}
		<option value='${result.getId()}'>${result.getName()}</option>
		#{/list}
	</select>
	<form id='select_form' action='/detail' method="get">
		<input value='GO' type='submit'>
	</form>
	<h1>${msa.getState().getName()} - ${msa.getName()}</h1>
	<div>
		<table align='center' border = '1'>
			#{list items:msa.datas, as:'data'} 
			#{if data.year==1999}
			<tr>
				<td><b>year</b></td> 
				#{list items:data.getBusinessall().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getBusinessresident().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getBusinessnonresident().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getBusinessnoncommercial().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getJobs().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getGained().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getLost().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getNetchange().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getSaleall().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getSalesperemployee().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
				#{list items:data.getSalesperbusiness().getAttrs(),
				as:'attr'}
				<td><b>${attr.getAttr_name()}</b></td> 
				#{/list}
			</tr>
			#{/if}
			<tr>
				<td>${data.year}</td> 
				#{list items:data.getBusinessall().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getBusinessresident().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getBusinessnonresident().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getBusinessnoncommercial().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getJobs().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getGained().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getLost().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getNetchange().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getSaleall().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getSalesperemployee().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				#{list items:data.getSalesperbusiness().getAttrs(),
				as:'attr'}
				<td>${attr.getAttr_value()}</td> 
				#{/list}
				
			</tr>

			#{/list}
		</table>
	</div>

</div>
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script>
	
	$('#selected_zone').val("${msa.getId()}");
	var value = $('#selected_zone').val();
	$('#select_form').attr('action', '/detail/' + value)
	$('#selected_zone').change(function() {
		var value = $('#selected_zone').val();
		$('#select_form').attr('action', '/detail/' + value)
	});
</script>